@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de perda de senha";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
    </div>
    <br />
    <br />
    <p class="text-center">
        Verifique seu e-mail para redefinir sua senha.
    </p>
    <br />
    <br />
    <hr>
    <div class="text-center">
        <a class="small" asp-page="./Login">Voltar</a>
    </div>
</div>