@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
        <h4>Insira seu Email.</h4>
    </div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control form-control-user" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-user btn-block">Enviar</button>
        </div>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" asp-page="./Login">Voltar</a>
    </div>
</div>


@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
