<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Dashboard/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>


    <!-- Dashboard-->
    <script src="~/Dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Dashboard/js/sb-admin-2.min.js"></script>
</body>
</html>
