#composition-add-material{
    padding: 5px;
}


#composition-material {
    width: 300px;
    margin-top: 6px;
    margin-left: 15px;
}

#tb-composition-materials{
    width: 100%;
    margin-top: -20px;
}

.btn-remove-material-composition{
    border: none;
    background: none;
}
